In [2]:
import pandas as pd
import numpy as np
import yfinance as yf

In [7]:
tata = yf.Ticker('TATASTEEL.NS')

In [8]:
tata.info

{'zip': '400001',
 'sector': 'Basic Materials',
 'fullTimeEmployees': 73962,
 'longBusinessSummary': 'Tata Steel Limited manufactures and distributes steel products in India and internationally. It operates in Tata Steel India, Bamnipal Steel (including Tata Steel BSL), Tata Steel Long Products, South-East Asian operations, Other Indian Operations, Tata Steel Europe, Other Trade Related Operations, and Rest of the World segments. The company offers hot-rolled (HR) and cold-rolled (CR) coated steel coils and sheets, precision tubes, tire bead wires, spring wires, and bearings, as well as auto ancillaries for the automotive market; and bearings, galvanized iron wires, agriculture and garden tools, and conveyance tubes, as well as fencing, farming, and irrigation equipment for the agriculture market. It also provides rebars, steel doors and windows, roofing sheets, plumbing pipes, tubes, prefabricated houses, water kiosks, modular toilets, office cabins, rooftop houses, EV charging stations, higher Dia rebars and corrosion-resistance steels, cut and bend bars, PC strands, and ground granulated blast furnace slags for individual house builders, corporate and government bodies, infrastructure companies, and housing and commercial customers in the construction market. In addition, the company offers CR, coated, HR, tube, wire rod, ferro chrome and manganese, boiler tube, pipes, ferroshot, blast furnace slag, coal tar, and metallic products for use in panels and appliances, fabrication and capital goods, furniture, LPG, and welding applications, as well as the process industries, such as cement, power, and steel in the industrial and general engineering markets. Tata Steel Limited was incorporated in 1907 and is based in Mumbai, India.',
 'city': 'Mumbai',
 'phone': '91 22 6665 8282',
 'country': 'India',
 'companyOfficers': [],
 'website': 'http://www.tatasteel.com',
 'maxAge': 1,
 'address1': 'Bombay House',
 'fax': '91 22 6665 7724',
 'industry': 'Steel',
 'address2': '24, Homi Mody Street Fort',
 'previousClose': 1114.45,
 'regularMarketOpen': 1127.8,
 'twoHundredDayAverage': 806.54474,
 'trailingAnnualDividendYield': 0.022432592,
 'payoutRatio': 0.1568,
 'volume24Hr': None,
 'regularMarketDayHigh': 1164.6,
 'navPrice': None,
 'averageDailyVolume10Day': 11601821,
 'totalAssets': None,
 'regularMarketPreviousClose': 1114.45,
 'fiftyDayAverage': 1107.93,
 'trailingAnnualDividendRate': 25,
 'open': 1127.8,
 'toCurrency': None,
 'averageVolume10days': 11601821,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 25,
 'exDividendDate': 1623888000,
 'beta': 1.437181,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 1113.1,
 'priceHint': 2,
 'currency': 'INR',
 'trailingPE': 18.16165,
 'regularMarketVolume': 17440939,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1393437179904,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 23481175,
 'priceToSalesTrailing12Months': 0.8915477,
 'dayLow': 1113.1,
 'ask': 0,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 17440939,
 'fiftyTwoWeekHigh': 1246.85,
 'forwardPE': None,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 2.17,
 'fiftyTwoWeekLow': 301.3,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0216,
 'bidSize': 0,
 'dayHigh': 1164.6,
 'exchange': 'NSI',
 'shortName': 'TATA STEEL LTD',
 'longName': 'Tata Steel Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'TATASTEEL.NS',
 'messageBoardId': 'finmb_874170',
 'market': 'in_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 1.385,
 'beta3Year': None,
 'profitMargins': 0.04792,
 'enterpriseToEbitda': 7.866,
 '52WeekChange': 2.782985,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 1202950016,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 619.996,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1617148800,
 'heldPercentInstitutions': 0.31338,
 'netIncomeToCommon': 73088696320,
 'trailingEps': 63.78,
 'lastDividendValue': 10,
 'SandP52WeekChange': 0.38506937,
 'priceToBook': 1.8683186,
 'heldPercentInsiders': 0.36004,
 'nextFiscalYearEnd': 1680220800,
 'mostRecentQuarter': 1617148800,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 777069507,
 'enterpriseValue': 2164240023552,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1092182400,
 'lastSplitFactor': '3:2',
 'legalType': None,
 'lastDividendDate': 1596672000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'dateShortInterest': None,
 'pegRatio': None,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': 1144749952,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 1158.35,
 'logo_url': 'https://logo.clearbit.com/tatasteel.com'}

In [12]:
hist = tata.history(period="max")

In [ ]:
hist.to_csv('')

In [13]:
hist.tail(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-06-07,1130.000000,1150.000000,1125.550049,1128.699951,12218592,0.0,0.0
2021-06-08,1132.699951,1132.699951,1100.050049,1111.099976,10834373,0.0,0.0
2021-06-09,1117.000000,1128.000000,1093.949951,1101.000000,11114338,0.0,0.0
2021-06-10,1109.300049,1125.800049,1102.900024,1114.449951,7776764,0.0,0.0
2021-06-11,1127.800049,1164.599976,1113.099976,1158.349976,17445856,0.0,0.0

In [16]:
tata.actions.tail(5)

            Dividends  Stock Splits
Date
2016-07-28   7.621893           0.0
2017-07-20   9.527366           0.0
2018-07-05  10.000000           0.0
2019-07-04  13.000000           0.0
2020-08-06  10.000000           0.0

In [18]:
tata.splits

Date
2004-08-11    1.5
Name: Stock Splits, dtype: float64

In [19]:
tata.financials

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,138436900000.0,-2317200000.0,159057200000.0,209560900000.0
Minority Interest,32696800000.0,25866000000.0,23644600000.0,9365200000.0
Net Income,74902200000.0,15565400000.0,102183300000.0,134343300000.0
Selling General Administrative,199088100000.0,208583700000.0,222137800000.0,193484500000.0
Gross Profit,993540300000.0,777985700000.0,917475500000.0,730674900000.0
Ebit,212706200000.0,83088200000.0,228274000000.0,138520800000.0
Operating Income,212706200000.0,83088200000.0,228274000000.0,138520800000.0
Other Operating Expenses,489409600000.0,401906500000.0,393645400000.0,341252600000.0
Interest Expense,-76067100000.0,-75334600000.0,-76601000000.0,-54547400000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,56539000000.0,-25684100000.0,67184300000.0,33923300000.0
Total Revenue,1562941800000.0,1398166500000.0,1576689900000.0,1241096900000.0
Total Operating Expenses,1350235600000.0,1315078300000.0,1348415900000.0,1102576100000.0
Cost Of Revenue,569401500000.0,620180800000.0,659214400000.0,510422000000.0
Total Other Income Expense Net,-74269300000.0,-85405400000.0,-69216800000.0,71040100000.0
Discontinued Operations,NaN,-11630400000.0,-651200000.0,1790700000.0
Net Income From Continuing Ops,81897900000.0,23366900000.0,91872900000.0,175637600000.0
Net Income Applicable To Common Shares,74902200000.0,13573600000.0,100452000000.0,132609000000.0

In [23]:
tata.cashflow

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Investments,-3.406880e+10,-8.449500e+09,1.348393e+11,-4.827340e+10
Change To Liabilities,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Total Cashflows From Investing Activities,-9.322880e+10,-1.453035e+11,-2.921093e+11,-1.202563e+11
Net Borrowings,-3.066055e+11,7.607310e+10,7.990640e+10,4.225230e+10
Total Cash From Financing Activities,-3.708967e+11,-1.694620e+10,-6.727000e+09,6.639940e+10
Change To Operating Activities,1.644563e+11,2.634260e+10,3.659220e+10,-7.680100e+10
Issuance Of Stock,3.238950e+10,4.000000e+05,4.000000e+05,9.087230e+10
Net Income,7.490220e+10,1.556540e+10,1.021833e+11,1.343433e+11
Change In Cash,-2.200260e+10,4.462040e+10,-4.513200e+10,2.933020e+10
Repurchase Of Stock,-1.500000e+10,-1.500000e+10,-1.500000e+10,-1.500000e+10
Effect Of Exchange Rate,-1.143900e+09,5.182900e+09,3.448000e+08,2.953200e+09
Total Cash From Operating Activities,4.432668e+11,2.016872e+11,2.533595e+11,8.023390e+10
Depreciation,9.233640e+10,8.440730e+10,7.341830e+10,5.741700e+10
Other Cashflows From Investing Activities,5.022000e+09,3.729500e+09,3.237700e+09,3.656000e+09
Dividends Paid,-1.416780e+10,-1.753890e+10,-1.410150e+10,-1.249450e+10
Change To Inventory,4.568000e+08,1.561940e+10,-1.068710e+10,-1.595430e+10
Other Cashflows From Financing Activities,-6.751290e+10,-7.548040e+10,-7.253190e+10,-5.423070e+10
Change To Netincome,1.111151e+11,5.975250e+10,5.185280e+10,-9.610980e+10
Capital Expenditures,-6.978590e+10,-1.039800e+11,-9.091000e+10,-7.478500e+10